nav {
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}

article {
  border: 1px solid green;
  margin: 5px;
  padding: 5px;
}

section {
  border: 1px solid blue;
  margin: 5px;
  padding: 5px;
}
